POSTGRES_USER=trabalho2
POSTGRES_PASSWORD=sistemasDistribuidos
POSTGRES_DB=environmentMonitoring
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123
ACTIVEMQ_USER=admin
ACTIVEMQ_PASSWORD=admin
